body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

div {
  text-align: center;
  margin-top: 100px;
}

.box {
  margin: 10px;
}

h1 {
  color: #333;
}

h2 {
  font-size: 40px;
  color: #555;
}

button {
  padding: 10px 18px;
  font-size: 18px;
  cursor: pointer;
}
